<% contentFor('body') %>
<!--Seção Principal-->
<div class="container">
  <div id="download-info" class="section">
    <h1>Baixe Agora</h1>
    <p>
      nosso sistema gerenciador de vendas<br />e tenha controle de tudo em sua
      loja.
    </p>
    <a href="installer-sm.exe" download>Download</a>
  </div>
  <div id="download-image" class="section">
    <img
      src="assets/template-laptop.png"
      alt="pré-visualização da aplicação / modelo"
    />
  </div>
</div>
<!--Seção De cards -->
<div class="container card01">
  <div class="section card-info">
    <p>
      Essa aplicação foi construída utilizando Electron e outras tecnologias
    </p>
  </div>
  <div class="section card-image">
    <img src="assets/img-card01.png" alt="imagem ilustrativa card 01" />
  </div>
</div>
<div class="container card02">
  <div class="section card-info">
    <p>
      Os dados são armazenados no localStorage de sua aplicação! Assim, mesmo a
      aplicação sendo fechada, Os dados continuarão ali sem alteração.
    </p>
  </div>
  <div class="section card-image">
    <img src="assets/img-card02.png" alt="imagem ilustrativa card 02" />
  </div>
</div>
<div class="container card03">
  <div class="section card-info">
    <p>
      Essa aplicação contém ferramentas de download com extensões variadas para
      verificação e manipulação das tabelas
    </p>
  </div>
  <div class="section card-image">
    <img src="assets/img-card03.png" alt="imagem ilustrativa card 03" />
  </div>
</div>
<div class="container card04">
  <div class="section card-info">
    <p>
      Todo código da aplicação está publicado no github. Assim, se você quiser
      contribuir com o projeto, basta entrar no link abaixo:
      <a
        href="https://github.com/VictorSilva15/Sistema_gerenciador_de_vendas"
        target="blank"
        >Link</a
      >
    </p>
  </div>
  <div class="section card-image">
    <img src="assets/img-card04.png" alt="imagem ilustrativa card 04" />
  </div>
</div>
<div class="container card05">
  <div class="section card-info">
    <p>Versão 2.0 está chegando Tema Dark em breve !</p>
  </div>
  <div class="section card-image">
    <img src="assets/img-card05.png" alt="imagem ilustrativa card 05" />
  </div>
</div>
