<% contentFor('body') %>

<div id="download-section">
  <div id="download-text">
      <p>Baixe Agora</br>nosso sitema gerenciador de vendas e tenha controle total de tudo em sua loja</p>
        <a href="installer-sm.exe" download> Download</a>
  </div>
  <div id="download-image"></div>
</div>
